# Игнорируем папку с библиотеками (сервер установит их сам)
node_modules/

# Игнорируем логи ошибок
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Игнорируем файлы переменных окружения (если будешь их использовать)
.env

# Игнорируем системные файлы macOS и Windows
.DS_Store
Thumbs.db